.slide{
    width: 100%;
}

.slide>.container img{
    height: calc((100%/2)/3*2);
}

.container:first-child{
    float: left;
    width: 50%;
    margin-top: -1em;
    height:calc((100%/2)/3*2);
}

.container:nth-of-type(2){
    float: right;
    width: 50%;
    margin-top: -1em;
    height: calc((100%/2)/3*2);
}

.title{
    float: left;
    width: 100%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 0;
    height: fit-content;
}

h1{
    padding: 2% 0 1% 0;
    text-align: center;
    font-size: 4em;
    margin-bottom:0;
}

#hr{
    filter: opacity(0.0);
    margin-top: 0;
    margin: auto;
    margin-bottom: 2em;
    width: 50%;
    transition: all 0.3s;
}

.about{
    width: 90%;
    height: max-content;
    margin: auto;
    margin-top: 0;
    display: flex;
    align-items: center;
    margin-bottom: 5em;
}

.imgholder{
    width: 30%;
    float: left;
    height: 35em;
    padding-right: 10px;
    overflow: hidden;
    text-align: center;
}

.imgholder>img{
    width: fit-content;
    max-height: 35em;
}

section{
    float: right;
    margin: auto;
    text-align: left;
    width: 70%;
    color: #3F4E4F;
    font-weight: bold;
    padding-left: 10px;
    margin-bottom: 2em;
}

@media (max-width: 1450px) {
    .about{
        width: 95%;
    }
}

@media (max-width: 1300px){
    section{
        width: 60%;
    }
    .imgholder{
        width: 40%;
    }
}

@media (max-width: 1000px){
    .imgholder{
        height: 40em;
        width: 40%;
    }

    h1{
        font-size: 3em;
    }

    title{
        height: 3em;
    }

    .imgholder>img{
        width: calc(2/3 * 40em);
        margin-left: -20%;
    }
}

@media (max-width: 750px){
    .imgholder{
        display: none;
        margin-left: -1000000px;
    }

    section{
        margin-top: 0;
        width: 100%;
        font-weight: normal;
    }

    .about{
        padding: 10px;
        width: 100%;
    }
}
