main>.container{
    width:90%;
    padding: 1em;
    border-radius: 15px;
    padding-bottom: 10em;
    box-shadow: 20px 20px 50px grey;
}

.items{
    margin-top: 3em;
    width: 100%;
}

.items .col{
    margin-bottom: 1.5em;
}

.items .col .card{
    margin: auto;
}

.items .col .card:hover{
    box-shadow: 10px 10px 10px lightgray;
    transition: all 0.5s;
}

.card{
    width: 20em;
    margin-bottom: 1em;
}